@charset 'utf-8';

html{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  
}

body{
  overflow-x: hidden;
  color: #fff;
  letter-spacing: -0.05em;
  background-color: #000;
}

a{
  color: #fff;
}
p{
  line-height: 1.6;
}

.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
  background-color: rgba(255,255,255,0.2);
  
}

.local-nav{
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  background-color: rgba(255,255,255,0.2);
  border-bottom: 2px solid rgba(255,255,255,0.2);
}

.global-nav-links{
  display:flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}


.local-nav-links {
  display:flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;

  .product-name{
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: bold;
  }

  a{
    font-size: 0.8rem;

    &:not(.product-name){
      margin-left: 2em;
    }
  }
}

.scroll-section{
  position: relative;
  padding-top: 50vh;
}

.main-message{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  opacity: 0;
}

#scroll-section-0{
  h1{
    position: relative;
    top: -10vh;
    z-index: 5;
    font-size: 4rem;
    text-align: center;
  }

  .main-message {
    height: 3em;
    margin: 5px 0;
    font-size: 2.5rem;
    
    p{
      font-weight: bold;
      text-align: center;
      line-height: 1.2;
    }
  }

}

#scroll-section-2{
  .msg-a{
    display:block;
    font-size: 3.5rem;
    opacity: 0;
    p{
      font-weight: bold;
      text-align: center;
      line-height: 1.2;

      small{
        display:block;
        margin-bottom: 0.5em;
        font-size: 1.6rem;
      }
    }
  }

  .msg-b{
    top:10%;
    left: 40%;
  }

  .msg-c{
    top:15%;
    left: 45%;
  }
}

.description{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;

  strong{
    float:left;
    margin-right: 0.2em;
    font-size: 3rem;
    color: #fff;
  }

}

.desc-message {
  width: 50%;
  font-weight: bold;
}

.pin{
  width: 1px;
  height: 100px;
  background-color: #fff
}

.mid-message{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;

  strong {
    color: #fff
    }

}

.canvas-caption{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}

.footer{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background-color: darkorange;
  color: white;
}

/* sticky-elem */
.sticky-elem{
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

.sticky-elem-canvas{
  top: 0;
  height: 100%;
    
  canvas{
    position: absolute;
    top: 50%;
    left: 50%;    
  }
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
	display: block;
}


@media (min-width: 1024px){
  #scroll-section-0 h1{
    font-size: 9vw;
  }

  #scroll-section-0 .main-message{
    font-size: 4vw;
  }

  .description {
    font-size: 2rem;
  }

  .description strong{
    font-size: 6rem;
  }

  #scroll-section-2 .main-message{
    font-size: 6vw;
  }

  #scroll-section-2 .msg-b{
    top: 20%;
    left: 53%;
  }

  #scroll-section-2 .msg-c{
    left: 55%;
  }

  .main-message small{
    font-size: 1.5vw;
  }

  .desc-message{
    width: 20%;
  }

  .mid-message{
    font-size: 4vw;
  }

  .canvas-caption{
    font-size: 2rem;
  }
}